@import '~office-ui-fabric-react/dist/sass/References.scss';
@import '~office-ui-fabric-react/dist/sass/themeOverrides.scss';
@import '~office-ui-fabric-react/dist/sass/Animation.scss';

.customTextTitle {
    &__accordion {
        div {
            font-weight: 400;
            font-size: 20px;
            margin-bottom: 8px;
        }
    }
    &__box {
        div {
            font-weight: 600;
            font-size: 28px!important;
            margin-bottom: 0px;
        }
    }
}

.underline {
    a {
        text-decoration: underline !important;
    }
}

.editor {
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-size: 18px;
    font-weight: 400;
    a {
        color: $ms-color-themePrimary;
        text-decoration: none;
    }
    a:hover {
        color: $ms-color-themeDarker;
    }
    .fadeMore {
        color: $ms-color-themePrimary;
        text-decoration: none;
        cursor: pointer;
    }
    .fadeMore:hover {
        color: $ms-color-themeDarker;
    }
    .headerContainer {
        border-bottom: 1px solid $ms-color-themeDark;
        padding-top: 8px;
        padding-left: 10px;
        cursor: pointer;
        display: flex;
        &.expanded {
            cursor: pointer;
        }
        .chevron {
            font-size: 15px;
            padding-right: 8px;
            padding-left: 4px;
            padding-top: 3px;
        }
    }
    .accordionContainer {
        cursor: pointer;
        margin: 0px;
        width: 100%;
        border: none;
        text-align: left;
        background-color: white;
        outline: 0;
        transition: .4s;
        border-bottom: 1px solid;
        padding: 0px;
        display: -ms-flexbox;
        display: flex;
        min-height: inherit;
        &:focus {
            box-shadow: 0 0 0 3px #FFBD65;
            outline: none;
        }
    }
    .contentBody {
        position: relative;
        overflow: hidden;
        width: 100%;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.4;
        .backgroundColorPadding {
            padding: 5px 8px 5px 15px;
        }
        h1, h2, h3, h4, h5, h6 {font-weight: 600!important; }
        h1 { font-size: 36px; }
        h2 { font-size: 28px; }
        h3 { font-size: 24px; }
        h4, h5, h6 { font-size: 18px; }
        ol, ul {
            padding-left: 50px;
            li {
                margin-bottom: 8px;
            }
            ol, ul {
                margin-top: 8px;
            }
        }
    }
    .fade {
        height: 150px;
    }
    .showMoreIcon {
        margin-left: 5px;
        vertical-align: sub;
    }
    .slideInAndFade {
        @include ms-slideDownIn20;
    }
}