[class^="ControlZone--emph"] {
  background-color: rgba(0, 0, 0, 0) !important;
}

.quickLinks {
  border-radius: var(--borderRadiusLarge);
  padding: 12px;

  .header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: fit-content;
    padding-bottom: 6px;

    .title {
      display: flex;
      flex-direction: row;
      align-items: center;

      span {
        font-size: 20px;
        font-weight: 600;
      }
    }
  }

  .links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    height: fit-content;
    gap: 6px;

    .link {
      justify-content: flex-start !important;

      .label {
        font-weight: var(--fontWeightRegular);
        margin: 0;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      .icon {
        padding: 4px;
        font-size: 20px;
      }
    }

    .categorySection {
      display: block;
      width: 100%;
      padding: 3px 0;

      .heading {
        width: 100%;
        font-weight: 600;
        white-space: nowrap;
        padding-bottom: 3px;
      }
    }
  }
}
