[class^="ControlZone--emph"] {
  background-color: rgba(0, 0, 0, 0) !important;
}

.quickLinks {
  .header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: fit-content;
    padding-bottom: 6px;

    .title {
      display: flex;
      flex-direction: row;
      align-items: center;

      span {
        font-size: 20px;
        font-weight: 600;
      }
    }
  }

  .linkGrid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .categorySection {
      display: block;
      width: 100%;
      padding: 20px 10px 10px 0;
    }

    .linkCategoryHeading {
      width: 100%;
      white-space: nowrap;
    }

    .linkGridColumn {
      line-height: 40px;
      display: inline-block;

      .linkContainer {
        cursor: pointer;
        text-decoration: none;
        display: inline-block;
        margin: 0 30px 0 0;
        margin-bottom: 5px;

        &:hover {
          background-color: rgba(0, 0, 0, 0.06);
        }

        i,
        span {
          display: inline-block;
          vertical-align: middle;
        }

        span {
          text-overflow: ellipsis;
          width: 200px;
          white-space: nowrap;
          overflow: hidden;
        }

        .icon {
          font-size: 25px;
          margin-right: 10px;
        }
      }
    }
  }
}
