.CommentCard {

    display: flex;

    .CommentUser {
        height: 32px;
        min-width: 32px;
        position: relative;
        width: 32px;
    }

    .CommentGap {
        padding-right: 20px;
    }

    .CommentArea {
        margin: 0 0px 30px;
        flex-grow: 1;
    }

    .CommentButton {
        flex-shrink: 0;
    }
}