.CommentCard {

    display: flex;

    .CommentUser {
        height: 32px;
        min-width: 32px;
        position: relative;
        width: 32px;
    }

    .CommentArea {
        margin: 0 7px 30px;
        flex-grow: 1;
    }

    .CommentButton {
        flex-shrink: 0;
    }
}

.block-358 {
    padding-right: 20px;
}

.speechBubble {
    display: inline-block;
    background-color: rgb(243, 242, 241);
    padding: 12px 16px;
    position: relative;
    max-width: 100%;
    border-radius: 2px 8px 8px;
}