@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';
.rssFeed {
    .container {
        max-width: auto;
        margin: 0px auto;
    }
    .headerContainer {
        display: flex;
        justify-content: space-between;
        >div {
            margin: 0;
        }
        .header {
            margin-bottom: 20px;
            font-weight: 100;
            font-size: 24px;
            flex-grow: 1;
            text-align: left;
        }
        .showAll {
            float: right;
            a {
                position: relative;
                color: rgb(89, 94, 102);
                outline: transparent;
                text-decoration: none;
                font-family: "Segoe UI Web (West European)", Segoe UI, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
                font-size: 14px;
                white-space: nowrap;
                margin-left: auto;
            }
        }
    }
    .itemsList {
        list-style-type: none;
        margin: 20px 0 0 0;
        padding: 0;
    }
    @include ms-Grid;
    .listItem {
        @include ms-Grid-row;
        padding-bottom: 20px;
        display: list-item;
        @include ms-fontWeight-regular;
        @include ms-fontSize-mPlus;
        color: $ms-color-neutralPrimary;
        div {
            @include ms-Grid-col;
            @include ms-sm10;
        }
        .icon {
            @include ms-Grid-col;
            @include ms-sm2;
            height: 42px;
            width: 42px;
            font-size: 25px;
        }
        svg {
            @include ms-Grid-col;
            @include ms-sm2;
        }
    }
    .listItemTitle {
        overflow: hidden;
    }
    .listItemPubDate {
        padding-top: 5px;
    }
    .listItemDescription {
        width: 285px;
    }
}