.announcement {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .header {
    display: flex;

    .infoLabel {
      padding-top: 4px;
    }
  }

  div > .infoLabelContent {
    max-width: 640px;
  }

  .announcements {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    gap: 16px;

    .message {
      width: 100%;
      cursor: pointer;
      transition: 0.2s ease-in-out;

      &:hover {
        transform: scale(1.03);
      }
    }
  }
}
