{
    "username": "{username}@{tenant}.onmicrosoft.com",
    "password": "{password}",
    "tenant": "{tenant}",
    "cdnSite": "sites/cdn",
    "cdnLib": "siteassets/js/extensions",
    "catalogSite": "sites/app_catalog"
}