@import '~office-ui-fabric-react/dist/sass/References.scss';
.warning {
    @include ms-font-m;
    @include ms-fontWeight-semibold;
}

.warningAdjust {
    position: relative;
    top: -2px;
    margin-left: 5px;
}

.warningIcon {
    color: $ms-color-yellowLight;
}