@import "~@fluentui/react/dist/sass/References.scss";

.allLinks {
  .linksTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 24px 0;

    span {
      font-size: 20px;
      font-weight: 600;
    }
  }

  .links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    height: fit-content;
    gap: 12px;

    .link {
      justify-content: flex-start !important;

      .label {
        font-weight: var(--fontWeightRegular);
        margin: 0;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      .icon {
        padding: 4px;
        font-size: 16px;
      }
    }

    .categorySection {
      display: block;
      width: 100%;
      padding: 3px 0;

      .heading {
        width: 100%;
        font-weight: 600;
        white-space: nowrap;
        padding-bottom: 3px;
      }
    }
  }
}

.footer {
  padding: 12px 0;

  .footerButton {
    justify-content: flex-start !important;

    &:hover {
      background-color: rgba(0, 0, 0, 0.06);
    }

    &:active {
      background-color: rgba(0, 0, 0, 0.12);
    }

    .footerButtonLabel {
      font-weight: var(--fontWeightRegular);
      margin: 0;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}

.dialogContent {
  display: flex;
  flex-direction: column;
  gap: 12px;

  .iconField {
    display: flex;
    flex-direction: row;
    gap: 12px;

    .iconPickerPanel {
      z-index: 99;
    }

    .iconMessage {
      min-height: 32px !important;
      padding: 0 12px !important;

      .selectedIcon {
        display: flex;
        flex-direction: row;
        gap: 12px;
      }
    }
  }
}
