@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';
$themePrimaryColor: "[theme: themePrimary, default: #6e1e20]";
.msgContainer {
    .top {
        height: 30px;
        line-height: 2.5;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $ms-color-themePrimary;
        @include ms-fontColor-white;
    }
    .message {
        cursor: help;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}