@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';
.notification {
    @include ms-font-m;
    @include ms-fontWeight-semibold;
}
.classificationColor {
    color: $ms-color-orangeLighter;
}
.warningAdjust {
    position: relative;
    top: -2px;
    margin-left: 5px;
}
.warningIcon {
    color: $ms-color-yellowLight;
}